streamlit==1.32.0
pandas==2.2.1
numpy==1.26.4
plotly==5.19.0
scikit-learn==1.4.1
xgboost==2.0.3
lightgbm==4.1.0
catboost==1.2.5
Pillow==10.2.0
matplotlib==3.8.2
seaborn==0.13.1
optuna==3.5.0
shap==0.44.0 